{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<div class="col">
<h3>Add Trip</h3>
<br/>

<script>
	// Function to calculate the Total
	function calTotal() {
		var income = parseFloat(document.getElementById('income').value);
		var cash = parseFloat(document.getElementById('cash').value);
		var total = income + cash;
		document.getElementById('total').value = total;
	  }

	// Function to calculate the Percent of Total
	function calPercent() {
		var total = parseFloat(document.getElementById('total').value);
		var percent = parseFloat(document.getElementById('percent').value);
		var perTotal = (total * percent) / 100;
	
		// Display the result in the "Percent of Total" field
		document.getElementById('per_total').value = perTotal;
	}

	// Function to disable percent field if the Payment type is "Tid"
	function perOrTime() {
		if (document.getElementById('p_type') === "Pro%") {	
			document.getElementById('percent').disabled = false;
			
		}
		else {
			document.getElementById('percent').disabled = true;
		}
	}
	// Function to calculate the work time [the deffirence between "from" (date & time) and "till" (date & time)]
	function calWorkT() {

	  }

	// Function to calculate the paid time 
	function calPaidT() {
		var work_time = time(document.getElementById('work_time').value);
		var pause = time(document.getElementById('pause').value);
		var p_time = work_time - pause;
		document.getElementById('p_time').value = p_time;
	  }

</script>

<form method="POST" action="{% url 'add_trip' %}">
	{% csrf_token %}

	<div class="table-responsive ">
		<table class="table table-sm  table-striped-columns">
		  <thead>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="row">Driver</th>
			  <td > {{ form.driver }}</td>
			  <th scope="row">VL</th>
			  <td>{{ form.vl }}</td>
			  <th scope="row">Car</th>
			  <td>{{ form.car }}</td>
			</tr>
			<tr>
			  <th scope="row">Income</th>
			  <td><input type="number" placeholder="0.00" name="income" id="income" oninput="calTotal()"></td>
			  <th scope="row">Cash </th>
			  <td><input type="number" placeholder="0.00" name="cash" id="cash" oninput="calTotal()" ></td>
			  <th scope="row">Total</th>
			  <td><input type="number" name="total" id="total" oninput="calTotal()"  readonly></td>
			</tr>
			<tr>
			  <th scope="row">Payment Type</th>
			  <td><select type="text" name="p_type" id="p_type" oninput="calPercent()" oninput="perOrTime(this.value)">
					<option value="Pro%"> Pro% </option>
					<option value="Tid"> Tid </option>
				   </select>
			  </td>
			  <th scope="row">Percent</th>
			  <td><select type="number" name="percent" id="percent" oninput="calPercent()" onkeyup="perOrTime()">
					<option value="--"> -- </option>	
					<option value="48"> 48% </option>
					<option value="49"> 49% </option>
					<option value="50"> 50% </option>
					<option value="51"> 51% </option>
					<option value="52"> 52% </option>
				  </select>
			  </td>
			  <th scope="row">Percent of Total</th>
			  <td><input type="number" name="per_total" id="per_total" oninput="calPercent()" readonly></td>
			</tr>
			<tr>
			  <th scope="row">From</th>
			  <td>{{ form.fromd }} {{ form.fromt }}</td>
			  <th scope="row">Till </th>
			  <td>{{ form.tilld }} {{ form.tillt }}</td>
			  <th scope="row">Work Time </th>
			  <td><input type="time" name="work_time" id="work_time" oninput="calPaidT()"></td>
			</tr>
			<tr>
			  <th scope="row">Pause</th>
			  <td><input type="time" name="pause" id="pause" oninput="calPaidT()"></td>
			  <th scope="row">Paid Time </th>
			  <td><input type="time" name="p_time" id="p_time" oninput="calPaidT()" readonly></td>
			  <th scope="row"></th>
			  <td></td>
			</tr>
			<tr>
			  <th scope="row">Expenses</th>
			  <td>{{ form.expenses }}</td>
			  <th scope="row">Expenses Reason</th>
			  <td colspan="4" >{{ form.exp_reason }}</td>
			</tr>
			<tr>
			  <th scope="row">Note</th>
			  <td colspan="5" >{{ form.note }}</td>
			</tr>
		  </tbody>
		</table>
	<div>
  
	<br/>
	<button type="submit" class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add Trip</button>
	<a href="{% url 'home' %}" class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Back</a>

</form>

</div>
{% endif %}
{% endblock %}