{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<div class="col">
<h3>Add Trip</h3>
<br/>

<script>
	function add() {
		var income = parseFloat(document.getElementById('income').value);
		var cash = parseFloat(document.getElementById('cash').value);
		var y = income + cash;
		document.getElementById('total').value = y;
	  }

	  function calculatePercent() {
	
			var total = parseFloat(document.getElementById('total').value);
			var percent = parseFloat(document.getElementById('percent').value);
			var perTotal = (total * percent) / 100;
	  
			// Display the result in the "Percent of Total" field
			document.getElementById('per_total').value = perTotal;
		  }

		 // if (document.getElementById('p_type') = "Pro%") {
		 // else {
		 //	document.getElementById('percent').disabled = true;
		 // }
		// }

    // Function to calculate the Percent of Total

  </script>

<form method="POST" action="{% url 'add_trip' %}">
	{% csrf_token %}

  <div class="table-responsive ">
		<table class="table table-sm  table-striped-columns">
		  <thead>
		  </thead>
		  <tbody>
			<tr>
			  <th scope="row">Driver</th>
			  <td > {{ form.driver }}</td>
			  <th scope="row">VL</th>
			  <td>{{ form.vl }}</td>
			  <th scope="row">Car</th>
			  <td>{{ form.car }}</td>
			</tr>
			<tr>
			  <th scope="row">Income</th>
			  <td><input type="income" name="income" id="income" oninput="add()"></td>
			  <th scope="row">Cash </th>
			  <td><input type="number" name="cash" id="cash" oninput="add()"></td>
			  <th scope="row">Total</th>
			  <td><input type="number" name="total" id="total" oninput="add()"  readonly></td>
			</tr>
			<tr>
			  <th scope="row">Payment Type</th>
			  <td><select type="text" name="p_type" id="p_type" oninput="calculatePercent()">
					<option value="Pro%"> Pro% </option>
					<option value="Tid"> Tid </option>
				   </select>
			  </td>
			  <th scope="row">Percent</th>
			  <td><select type="number" name="percent" id="percent" oninput="calculatePercent()" >
					<option value="48"> 48% </option>
					<option value="49"> 49% </option>
					<option value="50"> 50% </option>
					<option value="51"> 51% </option>
					<option value="52"> 52% </option>
				  </select>
			  </td>
			  <th scope="row">Percent of Total</th>
			  <td><input type="text" name="per_total" id="per_total" oninput="calculatePercent()" readonly></td>
			</tr>
			<tr>
			  <th scope="row">From</th>
			  <td>{{ form.fromd }} {{ form.fromt }}</td>
			  <th scope="row">Till </th>
			  <td>{{ form.tilld }} {{ form.tillt }}</td>
			  <th scope="row">Work Time </th>
			  <td>{{ form.work_time }}</td>
			</tr>
			<tr>
			  <th scope="row">Pause</th>
			  <td>{{ form.pause }}</td>
			  <th scope="row">Paid Time </th>
			  <td>{{ form.p_time}}</td>
			  <th scope="row"></th>
			  <td></td>
			</tr>
			<tr>
			  <th scope="row">Expenses</th>
			  <td>{{ form.expenses }}</td>
			  <th scope="row">Expenses Reason</th>
			  <td colspan="4" >{{ form.exp_reason }}</td>
			</tr>
			<tr>
			  <th scope="row">Note</th>
			  <td colspan="5" >{{ form.note }}</td>
			</tr>
		  </tbody>
		</table>
	  <div>
  

<br/>
  <button type="submit" class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add Trip</button>
   <a href="{% url 'home' %}" class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Back</a>

</form>

</div>
{% endif %}
{% endblock %}