{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<!-- I centered the button and the title -->
<div class="">
    <h5 class="col-2 ms-1 text-primary-emphasis bg-warning-subtle  border-primary-subtle rounded-bottom-3 text-center  shadow">
        Ansætter
        <small class="text-body-secondary">Side</small>
    </h5>

    <div class="d-flex justify-content">
        <button class="m-1 btn btn-sm btn-warning rounded-pill" type="button">
            <a class="nav-link" href="{% url 'add_driver' %}">føje Chauffør</a>
        </button>
    </div>

    <!-- Created a table with responsive design and centered the items -->
    <div class="table-responsive m-1 rounded shadow">
        <table class="table table-sm table-striped table-hover table-bordered">
            <thead class="table-warning">
                <tr class="align-middle text-center">
                    <th ><small>ID</small></th>
                    <th><small>Name</small></th>
                    <th><small>Mobile</small></th>
                    <th><small>Email</small></th>
                    <th><small>CPR. No.</small></th>
                    <th><small>Address</small></th>
                    <th><small>Bank Reg.</small></th>
                    <th><small>Bank Account</small></th>
                    <th><small>Position</small></th>
                    <th><small>Fuel Card</small></th>
                    <th><small>Start Date</small></th>
                    <th><small>End Date</small></th>
                    <th><small>Active</small></th>

                </tr>
            </thead>
            <tbody>
                {% if drivers %}
                {% for driver in drivers %}
                <tr class="align-middle text-center">
                    <td><small><a href="{% url 'driver' driver.id %}" class="text-danger-emphasis ">{{ driver.id }}</a></small></td>
                    <td><small><a href="{% url 'driver' driver.id %}" class="text-decoration-none text-danger-emphasis">{{ driver.fname }} {{ driver.lname }}</a></small></td>
                    <td><small>{{ driver.mobile }}</small></td>
                    <td><small>{{ driver.email }}</small></td>
                    <td><small>{{ driver.cpr }}</small></td>
                    <td><small>{{ driver.address }}</small></td>
                    <td><small>{{ driver.bank_reg }}</small></td>
                    <td><small>{{ driver.bank_account }}</small></td>
                    <td><small>{{ driver.position }}</small></td>
                    <td><small>{{ driver.fcard }}</small></td>
                    <td><small>{{ driver.start }}</small></td>
                    <td><small>{{ driver.end }}</small></td>
                    <td><small>{{ driver.is_active }}</small></td>

                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}