{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<div class="col">
<h3>Update VL</h3>
<br/>

<form method="POST">
	{% csrf_token %}
	<div class="table-responsive">
		<table class="table table-sm table-striped ">
			<thead>
			</thead>
			<tbody>
				<tr>
					<th scope="row">VL No.</th>
					<td > {{ form.vlnr }}</td>
					<th scope="row">VL Type</th>
					<td>{{ form.vltype }}</td>
					<th scope="row">VL Sys ID.</th>
					<td>{{ form.vlid }}</td>
					<th scope="row">VL Address</th>
					<td>{{ form.vladdress }}</td>
				</tr>
				<tr> 
					<th scope="row">Active </th>
					<td>{{ form.is_active }}</td>
				</tr>
			</tbody>
		</table> 
	</div>

<br/>
  <button type="submit" class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Update VL</button>

</form>


</div>
{% endif %}
{% endblock %}